{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ photo.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pools/photo_detail.css' %}">
</head>
<body>
    <h1>{{ photo.title }}</h1>
    <img src="{{ photo.image }}" alt="{{ photo.title }}">
    <p>{{ photo.description }}</p>

    <h2>Комментарии:</h2>
    <ul id="commentList">
        {% for comment in comments %}
            <li>
                <p>{{ comment.user.username }} написал(а) {{ comment.timestamp }}</p>
                <p>{{ comment.text }}</p>
            </li>
        {% endfor %}
    </ul>

    <h2>Добавить комментарий:</h2>
    </form>
</body>
</html>
